/* AMHARIC FONTS */
@font-face {
  font-family: 'Hiwua';
  src: url('../fonts/hiwua.ttf') format('truetype');
}

@font-face {
  font-family: 'Sabean';
  src: url('../fonts/sabaean.ttf') format('truetype');
}

@font-face {
  font-family: 'Zelan';
  src: url('../fonts/zelan.ttf') format('truetype');
}

@font-face {
  font-family: 'Washrab';
  src: url('../fonts/washrab.ttf') format('truetype');
}

@font-face {
  font-family: 'Fantuwua';
  src: url('../fonts/fantuwua.ttf') format('truetype');
}

@font-face {
  font-family: 'Tint';
  src: url('../fonts/tint.ttf') format('truetype');
}


:root {
  --font-hiwua: 'Hiwua';
  --font-sabean: 'Sabean';
  --font-zelan: 'Zelan';
  --font-washerab: 'Washerab';
  --font-fantuwua: 'Fantuwua';
  --font-tint: 'Tint';
}

.hiwua {
    font-family: var(--font-hiwua);
}
.sabean {
    font-family: var(--font-sabean);
}

.zelan {
    font-family: var(--font-zelan);
}

.wahsrab {
    font-family: var(--font-wahsrab);
}

.fantuwua {
    font-family: var(--font-fantuwua);
}

.tint {
    font-family: var(--font-tint);
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* SCROLLBAR */
/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(22, 163, 74) rgb(22, 22, 21);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(22, 163, 74);
  border-radius: 30px;
}

/* Hero section */
.hero-section-bg {
  background-image: url("../images/saving-1.jpg");
}


/* HERO PAGE BACKGROUND */


/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top, 
.hamburger-middle, 
.hamburger-bottom {
    position: absolute;
    top:0;
    left:0;
    width: 24px;
    height: 2px;
    background: #20db0f;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform : translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}